apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: minimal-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
  - host: "market.kube.cripto-country.com"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: market
            port:
              number: 80              
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: minimal-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
  - host: "back.kube.cripto-country.com"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: dapp-backend
            port:
              number: 3001                   